snippet func "Add function" b
function tools_run_menu () {
}
endsnippet

snippet if "add if block" b
if [ $1 ]; then
$0
fi
endsnippet

snippet elif "add else if block" b
elif [ $1 ]; then
$0
fi
endsnippet

snippet else "add else block" b
else [ $1 ]; then
$0
fi
endsnippet
