snippet func "Add func block" s
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" ${1:title}
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
function! ${2:funcName}()
	$0
endfunction
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
endsnippet
