[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/perl-support"]
	path = bundle/perl-support
	url = https://github.com/vim-scripts/perl-support.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = https://github.com/vim-scripts/vcscommand.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/dwm"]
	path = bundle/dwm
	url = https://github.com/spolu/dwm.vim
[submodule "bundle/obsession"]
	path = bundle/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "bundle/c-support"]
	path = bundle/c-support
	url = https://github.com/vim-scripts/c.vim.git
[submodule "bundle/awk-support"]
	path = bundle/awk-support
	url = /home/thomas/resources/tools/vim/awk-support_1.0
[submodule "bundle/bash-support"]
	path = bundle/bash-support
	url = /home/thomas/resources/tools/vim/bash-support_3.12.1
